.container {
  width: 80%;
}
label {
  white-space: nowrap;
}

.table {
  empty-cells: show;
}

.modal-content {
  border-radius: 10px !important;
}

.placetext {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 38px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}
.sph {
  padding-left: 45px;
}
/*
.modal-backdrop.show {
  opacity: 0 !important;
}
*/
